<?xml version="1.0" encoding="UTF-8"?>
<!-- Adicionei este xml na pasta resources e depois adicionei a pasta resources como
uma source folder clicando no projeto com o botão direito e indo em properties -->
<Configuration status="WARN">
	<Appenders>
		<RollingFile name="RollingFile" fileName="app.log"
			filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{dd/MM/yyyy - HH:mm:ss} %-3p %c{2} [%t] - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="gui" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="gui.listeners" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="gui.util" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="model.dao.impl" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<!-- level=trace imprime todos os tipos -->
		<Root level="trace">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>